@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*COMPONENT CONTAINER*/

.container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*BUTTONS*/

button {
  appearance: button;
  background-color: #203263;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
 }
 
 button:after {
  background-clip: padding-box;
  background-color: #4797ff;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 
 button:main, button:focus {
  user-select: auto;
 }
 
 button:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
 button:disabled {
  cursor: auto;
 }
 
 button:active:after {
  border-width: 0 0 0px;
 }
 
 button:active {
  padding-bottom: 10px;
 }

 button.btn-disminuir {
  background-color: #7e0e0e;
 }

 button.btn-aumentar {
  background-color: #1a8d16;
 }

 button.btn-disminuir:after {
  background-color: #f03b3b;
 }

 button.btn-aumentar:after {
  background-color: #41da3c;
 }

 button.btn-submit-form {
  margin-left: 20px;
 }

 .container-btn {
   display: flex;
   justify-content: space-around;
   width: 50%;
   margin: auto;
 }

 /*H1 TITLE*/

 h1 {
   text-align: center;
 }

/*CONTAINER FORM & COUNTER */
.container-form, .container-counter {
   margin: 25px 27%;
   text-align: center;
   color: rgb(253, 253, 253);
   padding: 2rem;
   border-radius: 7px;
}

.container-form {
  display: flex;
  justify-content: space-around;
}
  
.container-counter {
    background: rgb(36, 36, 36);
 }

input {
  padding: .5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: .3rem;
  border: 1px solid #e0e0e0;
  box-shadow: inset 1px 1px 1px #e0e0e080;
  color: #4c575c;
  transition: all .25s ease 0s;
}

input:focus {
  border-color: #409eff;
  outline: none;
  box-shadow: inset 1px 1px 1px #e0e0e080, 0 0 0 3px #409eff80;
}

 /* SPAN VALOR */

 span.valor-positivo {
   color: #41da3c;
 }

 span.valor-negativo {
  color: #f03b3b;
}